*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1{
    font-family: sans-serif;
    color: red;
}

.hola-mundo{
    background-color: antiquewhite;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}

.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-index img{
    padding: 5px;
}

/* mobile last */
@media (max-width: 650px){
    .hola-mundo{
        background-color: rgb(60, 34, 178);
    }
}

